.FinishPage{
    font-size: 20px;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(rgb(58, 72, 81),.85);
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn, .btnRetry{
    text-align: center;
    width: 260px;
    margin-top: 50px;
    padding: 10px 25px;
    color: white;
    border: none;
    background: rgb(113, 135, 182);
    border-radius: 10px;
        &:focus, &:hover{
            outline: none;
            box-shadow:  0 0 5px white;
        }
}
.btnRetry{
    background: rgb(101, 133, 123);
    margin-left: 100px;
}